
<div class="col-xs-6 ">
  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Cell</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor ='let c of contacts'>
        <td><a [routerLink]="['/contactdetails',c.name]" >{{c.name}}</a></td>
        <td>{{c.email}}</td>
        <td>{{c.cell}}</td>
        <td ><button class="btn btn-danger" (click)="delrow(c)" >Delete!</button></td>
      </tr>
      <tr >
        <td><input type="text" #name></td>
        <td><input type="text" #email></td>
        <td><input type="text" #cell></td>
        
        
      </tr>
      <tr>
        <td colspan="3" ><button (click)=addRecord(name,email,cell)>Add</button><p >{{msg2}}</p></td>
      </tr>
    </tbody>
  </table>
  
</div>
