
<div class="col-xs-6 ">
  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Cell</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ='let c of contacts'>
        <td>{{c.name}}</td>
        <td>{{c.email}}</td>
        <td>{{c.cell}}</td>
      </tr>
      <tr >
        <td><input type="text" #name></td>
        <td><input type="text" #email></td>
        <td><input type="text" #cell></td>
        
      </tr>
      <tr>
        <td><button (click)=addRecord(name,email,cell)>Add</button></td>
      </tr>
    </tbody>
  </table>
  
</div>
